<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map  id="agm-map" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
    <agm-marker 
    *ngFor="let mark of markers" 
        
        [label] = "mark.title"
        [latitude]="mark.lat" 
        [longitude]="mark.lng" 
        [opacity]="mark.opacity"
        [iconUrl]="iconMap.iconUrl"

    >
    <agm-info-window [disableAutoPan]="true">
      
        <strong [routerLink]="[ '/sugerencia',mark.id]">{{mark.title}}</strong><br>
        {{mark.infow}} 
    </agm-info-window>
  </agm-marker>
</agm-map>
