<div class="container">
  <h3 class="trend-title">
    <u>Trending</u> <i  class="fa fa-fire"></i>
  </h3>
  <div class="trend-events">
      <a class="trend-top" *ngFor="let top of tops">
        <div class="top-description">
          <p class="top-name">{{top.nombre}}</p>
          <p class="top-desc">{{top.descripcion}}</p>
        </div>
        <img class="top-image" style="margin-top: 1rem;" *ngIf="top.image" src="../../../assets/images/ejemplo1.jfif"alt="Logo empresa">
        <img class="top-image" style="margin-top: 1rem;" *ngIf="!top.image" src="../../../assets/images/ejemplo1.jfif"alt="Logo empresa">
      </a>
  </div>

</div>
