<!-- Navbar -->
<div class="contenido">


  <nav class="navbar navbar-expand-md navbar-dark bg-dark text-center">
    <a class="nav-image" [routerLink]="['/']" id="">
      <img src="../../assets/images/Logopng-blanco.png" alt=Logo>
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="#" class="nav-item nav-link active"><i class="fa fa-home"></i>&nbsp;&nbsp;Inicio</a>
            <a href="#" class="nav-item nav-link"><i class="fa fa-map"></i>&nbsp;&nbsp;Lugares</a>
            <a href="#" class="nav-item nav-link"><i class="fa fa-music"></i>&nbsp;&nbsp;M&uacute;sica | Baile</a>
            <a href="#" class="nav-item nav-link"><i class="fa fa-tag"></i>&nbsp;&nbsp;Promociones</a>
        </div>
        <!--LLama a los hijos
        <form class="form-inline ml-auto">
            <input type="text" class="form-control " placeholder="Search">
            <button type="submit" class="btn btn-outline-light">Buscar</button>
        </form>
        -->
        <a href="#"  id="profile-icon" style="margin-left: 5rem;"><i class="fa fa-user-o"></i></a>
          <a href="#"  id="profile-icon" style="margin-left: 5rem;"><i class="fa fa-sign-out"></i></a>
    </div>
</nav>
  <!--LLama a los hijos-->
  <div class="contenido-hijos">

    <div class="container">
      <div class="row">
        <div class="dashboard col-8">
          <router-outlet></router-outlet>
        </div>
        <div class="panel col-3 text-center">
          <div class="trend">
            <app-trend></app-trend>
          </div>
          <div class="mapa">
            <app-mapa></app-mapa>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="footer py-3">

    <!-- Copyright -->
    <div class="footer-copyright text-center">© 2018 Copyright:
      <span> TriBarGo!</span>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
</div>
