
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" #frmLogin="ngForm" (ngSubmit)="onLogin(frmLogin)">
					<img src="assets/images/beer.png" width="25%" height="25%">
                    <div class="ttl">Inicio de sesi&oacute;n</div>
                    <div class="descrp">de usuario</div>

					<br>
					<br>

					<div class="wrap-input100 validate-input" data-validate = "No es un correo v&aacute;lido">
						<input class="input100" type="email" name="correo" ngModel required>
						<span class="focus-input100" data-placeholder="Correo" ></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Escribe una contrase&ntilde;a">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="contrasenha" ngModel required>
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>


					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Iniciar
							</button>
						</div>
					</div>

						<br>
						<br>
					<div class="text-center p-t-115">
						<span class="txt1">
							¿No tienes cuenta?&nbsp;
						</span>

						<a class="txt2" [routerLink]="['/user-register']">
							<b>Registrarse</b>
						</a>
					</div>
					<div class="text-center p-t-115">
						<span class="txt1">
							¿Quieres registrarte como bar?&nbsp;
						</span>

						<a class="txt2" [routerLink]="['/bar-login']">
							<b>Clic aquí</b>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
