
/*Paleta de colores*/

:root{
    --main-color : #e0860b;
    --second-color: #facf57;
    --third-color: #5c3b17;
    --Titulo-letra: #ef7659;
    --light-back: #fafafa;
}
/*Estilos Generales*/

.body{



}


/*----------------------------------------------
+++++++++++++++   Navbar Page   +++++++++++++++
----------------------------------------------*/
.navbar{
    background: #fafafa;
    border-radius: 0 0 .5rem .5rem ;
    border: var(--second-color) .3rem solid;
    border-top: inherit;
    border-left: inherit;
    border-right: inherit;
}
.navbar .nav-image{
    display: block;
}
.navbar .nav-image img {
    max-width: 220px;
}

.navbar #secciones{
    color: #5c3b17;
    margin-top: 1rem;
}

.navbar #secciones .nav-link{
    color: #5c3b17;
    border-right: var(--main-color) .3rem solid;
    min-width: 7.5rem;
    text-align: center;
    font-weight: 400;
}

.navbar #secciones #search{
    font-size: 2rem;
    color: var(--main-color);
    margin: 0 2rem;
}

.navbar #secciones #profile-icon{
    font-size: 2.5rem;
    color: var(--main-color);
    margin: auto 2rem auto auto

}
/*-----------------Fin navbar---------------*/


/*----------------------------------------------
+++++++++++++   Preconfiguración   +++++++++++++++
----------------------------------------------*/

.contenido{
    display: flex;
    background-size: auto;
    background-size: cover;
    height: auto;
    flex-direction: column;
}
.contenido-hijos{

    display: flex;
    flex: 1 1 auto;
    align-items: center;
    text-align: center;
}
/*----------------------------------------------
+++++++++++++   Dashboard page   +++++++++++++++
----------------------------------------------*/

.dashboard{
    height: auto;
}

.dashboard #bar-tag{
    margin: .8rem 0 .8rem 0;
    display: block;
    border-bottom: var(--second-color) .1rem solid;
    background: #fff;
    border-radius: 1rem;
}

.dashboard .bar-header .bar-name{
    text-align: left;
    display: inline-block;
    font-size: 2rem;
    margin-right: 2rem;
    flex: 0 0 14rem;
    margin-bottom: 0 !important;
    font-family: Anton;
}

.dashboard .bar-header .bar-cost{
    display: inline-block;
    font-size: 2rem;
    margin-right: 2rem;
    flex: auto 0 auto;
    text-align: right;
    margin-bottom: 0 !important;
}

.dashboard .bar-header .bar-ranking{
    display: inline-block;
    font-size: 2rem;
    margin-right: .2rem;
    flex: 1 0 auto;
    text-align: left;
    margin-bottom: 0 !important;
}

.dashboard .cont-description .cont-image .bar-image{
    margin: .5rem 1rem .5rem 0;
    display: block;
    margin-right: .2rem;
    max-width: 100px;
    max-height: 100px;
}
.dashboard .separador{
    border-right: var(--second-color) .5rem dashed;
    margin: 1rem .5rem 1rem .5rem;
}

.row{
  margin-top: 2rem;
  margin-bottom: 2rem;
}


/*-----------------fin Dashboard---------------*/

/*----------------------------------------------
+++++++++++++++   Panel page   +++++++++++++++++
----------------------------------------------*/

.panel{
    display: flex;
    height: 35.5rem;
    margin-left: 1rem;
    background-color: var(--light-back);
    flex-direction: column;
    border-radius: 2rem;
}
/*___________Componente trend___________*/
.trend{
    flex: 0 0 50%;
}
.trend .container{
    height: 100%;
    margin: .8rem 0 0 0
}
.trend .trend-top{
    display: flex;
}
.trend .top-description{
    display: flex;
    flex-direction: column;
}
.trend .top-description p{
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 0;
}
.trend .top-image{
    display: block;
    max-width: 50px;
    max-height: 50px;
}

/*___________Componente Mapa___________*/
.mapa{
    flex: 0 0 50%;
}
.mapa .container{
    border: var(--second-color) .1rem solid;
    height: 30%;
    margin: -.8rem 0 .8rem 0
}


/*-----------------fin panel---------------*/
/*------PAGE FOOTER-------*/

footer{
    background-color: var(--second-color);
    font-size: 1rem;
}


.back{

  background: #f0f0f0;
  height: auto;

}

.back-w{
  background: #fff;
  border-radius: 2rem;
  padding: 2rem;
}

.back-info{
  background: #FACF57;
  border-radius: 2rem;
  padding: .8rem;
  font-size: .8rem;
}
