
<div class="col-12" id="bar-tag" *ngFor="let sugerencia of sugerencias">
    <div class="container">
      <div class="row">

        <div class="bar-header col-12 d-flex">
          <p class="bar-name">
            {{sugerencia.nombre}}
          </p>
          <p class="bar-ranking">
            {{sugerencia.puntuacion}}
          </p>
          <p class="bar-cost">
            {{sugerencia.costo}} $
          </p>
        </div>
        <div class="cont-description d-flex">

          <div class="cont-image">
            <img *ngIf="sugerencia.imagen" src="../../../assets/images/no-image.jpg" class="bar-image"alt="Imagen-bar">
            <img *ngIf="!sugerencia.imagen" src="../../../assets/images/no-image.jpg" class="bar-image"alt="Imagen-bar">
          </div>
          <div class="bar-offering">
            <p>
              {{sugerencia.productos}}
            </p> 
            <p>
              {{sugerencia.musica}}
            </p>
          </div>
          <div class="separador"></div>
          <div class="bar-description">
            <p>
              {{sugerencia.descripcion}}
            </p>
            <p>
              {{sugerencia.ubicacion}}

            </p>
          </div>
        </div>
      </div>
    </div>
</div>
<br>
<br>
