
<div class="col-12" id="bar-tag" *ngFor="let sugerencia of sugerencias">
  <div class="container" [routerLink]="[ '/sugerencia',sugerencia.id]">
    <div class="row">

        <div class="bar-header col-12 d-flex">
          <p class="bar-name">
            {{sugerencia.nombre}}
          </p>
          <p class="bar-ranking">
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>{{sugerencia.puntuacion}}
          </p>
          <p class="bar-cost">
            $ {{sugerencia.costo}}
          </p>
        </div>
        <div class="cont-description d-flex">

          <div class="cont-image">
            <img *ngIf="sugerencia.imagen" src="../../../assets/images/ejemplo1.jfif" class="bar-image"alt="Imagen-bar">
            <img *ngIf="!sugerencia.imagen" src="../../../assets/images/ejemplo1.jfif" class="bar-image"alt="Imagen-bar">
          </div>
          <div class="bar-offering d-flex ">
            <p>
              <button type="button" class="btn btn-outline-success ttx">{{sugerencia.productos[0]}}</button>
              <button type="button" class="btn btn-outline-warning ttx">{{sugerencia.productos[1]}}</button>
              <button type="button" class="btn btn-outline-dark ttx">{{sugerencia.productos[2]}}</button>
              <button type="button" class="btn btn-outline-info ttx">{{sugerencia.musica[0]}}</button>
              <button type="button" class="btn btn-outline-info ttx">{{sugerencia.musica[1]}}</button>

            </p>
          </div>
          <div class="separador"></div>
          <div class="bar-description ">
            <p >
              {{sugerencia.descripcion}}
            </p>
            <p class="back-info ubicacion">
              {{sugerencia.ubicacion}}
            </p>
          </div>
        </div>
      </div>
    </div>
</div>
<br>
<br>
