agm-map {
    margin-top: 1rem;
    height: 100%;
    width: 100%;
}
.rating{
    align-self: center;

font-family: 'Happy Monkey', cursive;
background: #FACF57;
color: #fff;
border-radius: 2rem;
}

.name{
    align-self: center;
    font-family: 'Bungee Inline', cursive;
}
.price{
    align-self: center;
    font-family: 'Happy Monkey', cursive;
    background: #FACF57;
    color: #fff;
    border-radius: 2rem;
}

.files{
    align-items: center;
}

.files h5{
    flex: 0 0 5%;
}

.files .files-image{
    display: flex;
    flex: 0 0 200px;
    max-width: 200px;
}
.files .files-image img{
    max-height: 100%;
    width: auto;

    border-radius: 50%;
}

.files .map {
    display: contents;
}

/*imagen de bebidas*/
.details .details-img img{
    display: block;
    max-height: 8rem;
}

.details .line{
    border-right: var(--second-color) .5rem dashed;
    margin: .3rem 0 .2rem 0;
}

.sub{
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #6a7dfe;
  background: -webkit-linear-gradient(left, #FDA185, #FFC107);
  background: -o-linear-gradient(left, #FDA185, #FFC107);
  background: -moz-linear-gradient(left, #FDA185, #FFC107);
  background: linear-gradient(left, #FDA185, #FFC107);

}
