agm-map {
    margin-top: 1rem;
    height: 100%;
    width: 100%;
}
.rating{
    align-self: center;
}

.name{
    align-self: center;
}
.price{
    align-self: center;
}

.files{
    align-items: center;
}

.files h5{
    flex: 0 0 5%;
}

.files .files-image{
    display: flex;
    flex: 0 0 200px;
    max-width: 200px;
}
.files .files-image img{
    max-height: 100%;
    width: auto;
}

.files .map {
    display: contents;
}

/*imagen de bebidas*/
.details .details-img img{
    display: block;
    max-height: 8rem;
}

.details .line{
    border-right: var(--second-color) .5rem dashed;
    margin: .3rem 0 .2rem 0;
}

