agm-map {
    margin-top: 1rem;
    height: 100%;
    width: 100%;
}
.rating{
    align-self: center;

font-family: 'Happy Monkey', cursive;
background: #FACF57;
color: #fff;
border-radius: 2rem;
}

.name{
    align-self: center;
    font-family: 'Bungee Inline', cursive;
}
.price{
    align-self: center;
    font-family: 'Happy Monkey', cursive;
    background: #FACF57;
    color: #fff;
    border-radius: 2rem;
}

.files{
    align-items: center;
}

.files h5{
    flex: 0 0 5%;
}

.files .files-image{
    display: flex;
    flex: 0 0 200px;
    max-width: 200px;
}
.files .files-image img{
    max-height: 100%;
    width: auto;

    border-radius: 50%;

}

.files .map {
    display: contents;
}

/*imagen de bebidas*/
.details .details-img img{
    display: block;
    width: 7rem;
    height: 7rem;
    object-fit: cover;
      object-position: center center;
      border-radius: 2rem 0 2rem 0;

}

.details .line{
    border-right: var(--second-color) .5rem dashed;
    margin: .3rem 0 .2rem 0;
}

.sub{

  font-family: 'Luckiest Guy', cursive;
  text-transform: uppercase;
  color: #fff;
  background: #FACF57;
  border-radius: 1rem 0 1rem 0;

}
.col-12{
  margin-bottom: 2rem;
}
